.title {
    text-align: center;
    font-size: 4em;
}

.menu-flex {
    display: flex;
    justify-content: space-evenly;
}

.sectionDisplay {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
}

.message {
    text-align: center;
}

.selector {
    display: block;
    margin: 0 auto;
}

.error, #errorMessage {
    color: red;
    display: inline-block;
}

.jumbotron {
    background-color: #F1BF98;
}